body {
    background-color: lightblue;
}

h1 {
    font-size: 50px;
}

.center {
    text-align: center;
}

.icon {
    max-height: 50px;
}

#my-canvas {
    background-color: white;
    border: solid 1px black;
}